/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #000;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.button__container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


}

.button {
    width: 300px;
    height: 100px;
    padding: 5px 15px;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    z-index: 5;
    transition: .5s;
    overflow: hidden;
}

.button:hover {
    border: 1px solid #000;
    box-shadow: 0px 0px 30px, 0px 0px 60px, 0px 0px 90px;
    transition: .5s;
}

.button::before {
    content: '';
    position: absolute;
    top: -100px;
    left: 0px;
    width: 150px;
    height: 100px;
    background-color: rgb(33, 139, 180);
    transition: all 1s;
    opacity: 0.5;
}

.button:hover::before {
    content: '';
    position: absolute;
    top: -100px;
    left: 0px;
    width: 150px;
    height: 100px;
    transition: all 1s;
    transform: translate(0px, 100px);
}

.button::after {
    content: '';
    position: absolute;
    top: -100px;
    left: 150px;
    width: 150px;
    height: 100px;
    background-color: rgb(33, 139, 180);
    transition: all 1s;
    opacity: 0.5;
    transition-delay: 0.3s;
}

.button:hover::after {
    content: '';
    position: absolute;
    top: -100px;
    left: 150px;
    width: 150px;
    height: 100px;
    transition: all 1s;
    transform: translate(0px, 100px);
    transition-delay: 0.3s;
}

/* -------------- */
.conteiner__a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button__a {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100px;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    transition: .5s;
    overflow: hidden;
    padding: 40px 20px;
}

.button__link {
    position: absolute;
    display: block;
    transition: .5s;
}

.button__link__top {
    top: 0;
    left: 300px;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.button__link__right {
    top: -100px;
    left: 300px;
    width: 1px;
    height: 100%;
    background-color: #000;
}

.button__link__bottom {
    top: 100px;
    left: -300px;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.button__link__left {
    top: 100px;
    left: 0px;
    width: 1px;
    height: 100%;
    background-color: #000;
}

.button__a:hover .button__link__top {
    top: 0;
    left: 300px;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: translate(-300px, 0);
    transition: .5s;
}

.button__a:hover .button__link__right {
    top: -100px;
    left: 298px;
    width: 1px;
    height: 100%;
    background-color: #000;
    transform: translate(0, 100px);
    transition: .5s;
}

.button__a:hover .button__link__bottom {
    top: 98px;
    left: -300px;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: translate(300px, 0);
    transition: .5s;
}

.button__a:hover .button__link__left {
    top: -100px;
    left: 0px;
    width: 1px;
    height: 100%;
    background-color: #000;
    transform: translate(0, 100px);
    transition: .5s;
}

/* ---------------------- */
.wrapper__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.butt__link {
    display: inline-block;

    padding: 20px 25px;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: relative;
    color: #2196f3;
    overflow: hidden;
}

.butt__link:hover {
    transition-delay: .8s;
    box-shadow: 0 0 10px#2196f3, 0 0 40px#2196f3, 0 0 90px#2196f3;
    background-color: #2196f3;
    color: #000;
}

.butt__style {
    position: absolute;
    display: block;
    transition: all .5s;
}

.butt__style__top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.butt__link:hover .butt__style__top {
    left: 100%;
    width: 100%;
    transition: all .5s;
    transition-delay: .25s;
}

.butt__style__right {
    bottom: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(120deg, #2196f3, transparent);
}

.butt__link:hover .butt__style__right {
    bottom: 100%;
    right: 0;
    width: 2px;
    height: 100%;
    transition-delay: .25s;
}

.butt__style__bottom {
    top: 100%;
    left: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #2196f3, transparent);
}

.butt__link:hover .butt__style__bottom {
    top: 97%;
    left: -100%;
    width: 100%;
    transition: all .5s;
    transition-delay: .25s;
}

.butt__style__left {
    bottom: 100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(30deg, #2196f3, transparent);
}

.butt__link:hover .butt__style__left {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    transition-delay: .25s;
}